/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "compass/css3";
@import "breakpoint";
@import 'partials/layout';
@import "compass/typography/vertical_rhythm";

/*Establish vertical rhythm settings*/

.material-icons {
    font-size: 14em;
}

$base-font-size: 16px;
$base-line-height: 29px;
@include establish-baseline;

/*Colours*/

$darkPurple: rgb(87, 30, 45);
$lightPurple: rgb(177, 140, 191);
$lightMauve: rgb(244, 201, 247);
$base: rgb(143, 60, 88);
$pink: rgb(215, 124, 168);
$vividPurple: rgba(149, 11, 202, 0.55);
@include border-box-sizing();

/*mixins*/
@mixin underline(){
	content: '';
    display: block;
    width: 46px;
    height: 1px;
      margin: 10px 0 5px 0;
    background: #8f3c58;

}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: #FFF;
    color: $base;
    font-size: 1em;
    /*Base 10 font size setting*/
    //font-family: 'Muli', sans-serif;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    // font-family: 'Playfair Display', serif;
    font-family: 'Lato', sans-serif;

}

h1 {
    @include adjust-font-size-to(42px);
}

h2 {
    margin: 20px 0;
    text-align: center;
    position: relative;
    @include adjust-font-size-to(36px);
}

h3 {
    text-align: center;
    margin: 20px 0;
    @include adjust-font-size-to(22px);
}

img {
	max-width: 100%;

}

p {
    @include adjust-font-size-to(18px);
    @include rhythm(1, 0, 0, 1, 20px);
    font-weight: 200;

}

a {
    color: #fff;
    text-decoration: none;
    // @include adjust-font-size-to(20px);
    // font-weight: 200;
    &:hover {
        color: $darkPurple;
        @include transition(all, 0.3s ease-in);
    }
}
button:focus {
outline:0;
}

.row {
	@include span(12 no-gutters);
}

header {
    @include span(12 no-gutters);
    
}

.logo {
    @include span(4 nest);
}

.logo-text {
    text-indent: -9999px;
    background: url('../../img/butterfly_clip.svg');
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    vertical-align: text-top;
    visibility: hidden;

}

.butterfly-large {
    max-width: 600px;
}

.main-nav {
    @include span(12 no-gutters);
    padding: 10px;
    position: fixed;
    background: #fff;
    z-index: 500;
    ul {
        @include respond-to(mobile) {
            display: none;
        }
        @include respond-to(laptop) {
            display: block;
            li {
                margin: 0 1%;
                display: inline-block;
                a {
                    letter-spacing: 0.06em;
                    text-decoration: none;
                    color: #333333;
                    font-size: 0.8em;
                    text-transform: uppercase;
                    font-family: 'Lato';
                    padding: 10px;
                    display: block;
                    &:hover {
                        color: #B362BF;
                    }
                }
            }
            .donate-button {
                background-color: $lightPurple;
                color: #FFF;
                border-radius: 3px;
                padding: 10px 20px;
                font-weight: bold;
                &:hover {
                    background-color: darken(#B362BF, 15);
                    color: #fff;
                    @include transition(background-color,
                    0.3s,
                    ease-in);
                }
            }
        }
    }
}

.main-menu {
    @include respond-to(mobile) {
        @include span(12 no-gutters);
    }
    @include respond-to(laptop) {
        @include span(8 no-gutters);
        text-align: right;
    }
}

.side-menu {
    position: fixed;
    top: 40%;
    right: 15px;
    width: 50px;
    li {
        padding: 10px 0 10px 15px;
    }
    a {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        text-decoration: none;
        background-color: $darkPurple;
        display: block;
        padding: 0;
        &:hover > span {
            visibility: visible;
            position: absolute;
            right: 10px;
            margin-top: -7px;
            white-space: nowrap;
            padding-right: 15px;
            z-index: 100;
            opacity: 1;
            transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
    }
    span {
        position: absolute;
        visibility: hidden;
        color: #000;
        opacity: 0;
        right: 10px;
    }
}

.menu-button {
    @include respond-to(mobile) {
        z-index: 9999;
        display: block;
        position: relative;
        top: 10px;
        overflow: hidden;
        height: 50px;
        width: 50px;
        margin: 0;
        padding: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
        border-radius: 0;
        box-shadow: none;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: background 0.3s ease;
        float: right;
        top: 0;
        &:focus {
            outline: none;
        }
        span {
            display: block;
            position: absolute;
            top: 25px;
            left: 9px;
            right: 9px;
            height: 1px;
            background: $lightPurple;
            &:before,
            &:after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 1px;
                content: "";
                background: $lightPurple;
                transition-duration: 0.3s, 0.3s;
                transition-delay: 0.3s, 0s;
            }
            &:before {
                top: -10px;
                transition-property: bottom, transform;
            }
            &:after {
                bottom: -10px;
            }
        }
    }
    @include respond-to(laptop) {
        display: none;
    }
}

/*Fixed class added to header/nav*/
.fixed {
	position: fixed;
	background: #fff;
	z-index: 500;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	@include transition(all, 0.3s ease-in);

}

/*INitial mobile menu hidden*/

.menu-expanded {
    display: none;
    background: $pink;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 5;
    font-weight: 200;
    -webkit-animation: fadeIntoYou 0.3s ease-in;
    -moz-animation: fadeIntoYou 0.3s ease-in;
    -o-animation: fadeIntoYou 0.3s ease-in;
    animation: fadeIntoYou 0.3s ease-in;
    text-align: center;
}

@-webkit-keyframes fadeIntoYou {
    0% {
        background-color: $lightPurple;
        color: #fff;
        opacity: 0;
    }
    100% {
        background-color: $pink;
        color: #fff;
        opacity: 1;
    }
}


/*Expanded menu items*/

#about-link,
#cfs-link,
#me-link,
#blog-link,
#contact-link,
#donate-link {
    height: calc(100vh/6);
    line-height: calc(100vh/6);
    font-size: 3em;
    color: #fff;
    display: block;
    position: relative;
    -webkit-animation: fadeIntoYou 0.3s ease-in;
    -moz-animation: fadeIntoYou 0.3s ease-in;
    -o-animation: fadeIntoYou 0.3s ease-in;
    animation: fadeIntoYou 0.3s ease-in;
    text-decoration: none;
}


/*Active class added to hamburger menu to convert it to 'X'*/

.active {
    display: block;
    span {
        background: none;
        &:before {
            top: 0;
            background-color: #fff;
            transform: rotate(45deg);
            transition-delay: 0s, 0.3s;
        }
        &:after {
            bottom: 0;
            background-color: #fff;
            transform: rotate(-45deg);
            transition-delay: 0s, 0.3s;
        }
    }
}

.container {
    @include respond-to(mobile) {
        @include container(95%);
    }
    @include respond-to(laptop) {
        @include container(80%);
    }
    @include respond-to(desktop) {
        @include container(1170px);
    }
}

.hero {
    @include span(12 no-gutters);
    height: 100vh;
    position: relative;
}

.hero-text-wrap {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-top: 15vh;
}

.hero-subheading {
    font-size: 1em;
    font-weight: 200;
    color: $darkPurple;
    @include rhythm(1,
    0,
    0,
    1,
    20px);
}


/*Hero image styles*/

.butterfly-large {
	@include respond-to(mobile){
		max-width:200px;
	}
	@include respond-to(tablet){
		max-width: 300px;
	}
    @include respond-to(desktop) {
        padding: 10% 0;
        max-width: 100%;
    }
}


/*Hero text*/

.west-lancs {
    color: $base;
}

.fibromyalgia {
    font-style: italic;
    color: $darkPurple;
}

.support-group {
    text-transform: lowercase;
    color: #A086AF;
    position: relative;
    font-weight: 100;
    display: block;
    font-family: 'Lato', sans-serif;
}


/*Hero chevron to about section*/

.about-chevron-wrap {
    @include span(12);
    position: absolute;
    bottom: 5vh;
    text-align: center;
    a {
        color: $lightPurple;
        font-size: 3em;
        border: 1px solid;
        /* border-radius: 50%; */
        width: 50px;
        height: 50px;
        display: inline-block;
        &:hover {
            background: $lightPurple;
            color: #fff;
        }
    }
}

.about {
    @include span (12);
    padding: 5% 0;
    // background: url('../../img/test.png') center 10%;
    // background-size: cover;
}

.about-inner {
    @include span(4 of 12 split);
    padding: gutter();
    background: lavenderblush;
}

.about-icon-wrap {
    text-align: center;
    i {
        font-size: 12em;
    }
}

/*News section styles*/
.news {
    @include span(12 no-gutters);
    padding: 5% 0;
    border-top: 2px solid $vividPurple;
    


   
}

/*Individual post styles*/

.post { 
	@include span(12/3);

	


}

.post-details {

}

.post-title{ 
	text-align: left;
	margin-bottom: 0;
	&:after {
	@include underline;
	}

}

.post-date, .post-category, .post-author{
	display: inline-block;
	@include adjust-font-size-to(14px);
	margin: 0;
}



.post-category {
	display: block;
}

.post-content-wrap {

}

.post-content {
	
}

.read-post-btn {
	color: $base;
	padding: 10px 13px;
	background: #fff;
	display: block;
    max-width: 130px;
    text-align: center;
    border: 2px solid $base;
    text-transform: uppercase;

    &:hover {
    	background: $darkPurple;
    	color: #fff;

    	@include transition(all, 0.3s ease-in);
    }

}

.testimonial {
    @include span(12);
    padding: 5% 0;
    text-align: center;
    background: $vividPurple;
   position:relative;
    color: #fff;


    &:after {
    	 background-image: url('../../img/flowers-min.jpg');
		background-repeat: no-repeat;
    	 position: absolute;
    	 content: "";
    	 top: 0;
    	 left: 0;
    	 bottom: 0;
    	 right: 0;
    	     opacity: 0.2;
    background-size: cover;
    background-position: 50% 20%;
    }
    
}

.quoted-text {
    font-size: 2em;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
}

.testimonial-left, .testimonial-right {
	    position: absolute;
	    top: 40%;
   
    display: inline-block;
    /* height: 100%; */
    /* float: left; */
    background: transparent;
    border: none;
    font-size: 4em;
    color: rgba(255,255,255,0.4);
    cursor: pointer;
    z-index: 100;
    &:hover {
    	color: #fff;
    	@include transition(all, 0.3s ease-in);
    }
}
.testimonial-left{
	left: 0;
	padding-left: 2%;
}
.testimonial-right {

	right:0;
	padding-right: 2%;
}

/*Testimonia movement class*/
.move-left {
	transform: translateX(100%);
}

/*testimonial fade in effect*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
.fade-in{
	@include animation(fadein 2s);
}
.fade-out{
	@include animation(fadeout 1s);
}

.testimonial-content {
	display:block;
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

/*Acts as the testimonial slider 'mask'*/
.testimonial-outer-wrap {
	position: relative;
	overflow: hidden;
	height: 200px;

}

.testimonial-wrap{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

/*Events section styles*/
.events {
    @include span(12 no-gutters);
    padding: 5% 0;
    background-color: #fee;
}

.event {
	@include span(6);

}

.latest-news {
    @include span (8 of 12);
    background-color: #aff;
}

.event-header {
	text-align: left;
	margin-bottom: 0;
}
.event-meta {
	margin-top: gutter();
}
.event-date-time {
	margin: 0 15px 0 10px;
}
.event-location {
	margin: 0 0 0 10px;
}

.ion-location {
	margin-left: 20px;
}
.contact {
    @include respond-to(mobile) {
        padding-bottom: 10%;
    }
    @include respond-to(laptop) {
        padding: 5%;
    }
    @include span(12 of 12);
    background: #fff;
    h2 {
        @include respond-to(mobile) {
            
        }
        @include respond-to(laptop) {
            
            text-align: left;
        }
        color: $lightPurple;
    }
}
.contact-panel {
	@include span(4 split);
}
#contact-form {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(laptop) {

    }
    label {
        @include span(12 no-gutters);
        margin: 1em 0;
        font-size: 150%;
        font-weight: 300;
        color: #737272;
    }
}

.input-row-half {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(laptop) {
        @include span(12);
        &:nth-child(2) {
            @include span(12);
        }
    }
}

.textarea-row-full {
    @include span(12);
}

textarea {
    @include span(12);
    resize: none;
    padding: 20px 10px;
    margin-bottom: 2em;
    font-size: 1.125em;
    font-family: inherit;
    color: $base;
    border: 1px solid $base;
    &:focus {
        outline: 1px solid $base;
    }
}

.submit-button-wrap {
    @include span(12);
}

input[type="text"] {
    @include span(12);
    height: 48px;
    padding: 0 15px;
    font-family: inherit;
     color: $base;
    font-size: 1.125em;
    border: 1px solid $base;
    margin-bottom: gutter() * 4;
    &:focus {
        outline: 1px solid $base;
    }
}

input[type="email"] {
    @include span(12);
    height: 48px;
    padding: 0 15px;
    font-family: inherit;
     color: $base;
    border: 1px solid $base;
    font-size: 1.125em;
     margin-bottom: gutter() *4;
    &:focus {
        outline: 1px solid $base;
    }
}

input[type="submit"] {
    @include respond-to(mobile) {
        @include span(12);
        background-color: $base;
        color: #fff;
        height: 48px;
        cursor: pointer;
        font-family: inherit;
        font-size: 20px;
    }
    @include respond-to(laptop) {
        @include span(6 no-gutters);
        @include pre(6/2);
        background-color: $lightPurple;
        color: #fff;
        border: 1px solid $base;
        &:hover {
            background-color: $base;
            color: #fff;
            transition: all 0.3s ease-in;
        }
    }
}

/*Location section*/
#map {
	@include span(12 no-gutters);
	height: 400px;
	background: $lightPurple;
}


/*Member section*/
.members {
	@include span(12);
	padding: 5% 0;

}

.single-member {
	@include span(6 split);
	    border: 1px solid #dddddd;
	    margin-bottom: gutter() * 2;
	    min-height: 275px;

	    &:hover > .member-info {
	    	background: $base;
	    	color: #fff;
	    	@include transition(all, 0.3s ease-in);

	    	a {
	    		color: #fff;
	    	}
	    }
	  
}

.member-img {
	@include span(6 no-gutters);
	
	img {
				/*Remove image space beneath, when in figure*/
	display: block;
	}
}

.member-info {
	@include span(6);
	padding: gutter() * 4;
	min-height: 275px;
}

.member-name {
	margin:0;
	text-align: left;

	&:after {
		    content: '';
    display: block;
    width: 46px;
    height: 1px;
    margin: 10px 0 5px 0;
    background: #8f3c58;
	}
}

.member-role {
	font-size: 13px;
	text-transform: uppercase;
}

.member-blurb {
	font-size: 13px;
}

.member-social-icons {
	li {
		display: inline-block;
		float: left;
		margin-right: 20px;
	}
	a {
		color: rgba($base, 0.4);
		font-size: 1.6em;
	}
}

footer {
    @include span(12);
    background: $lightPurple;
    padding: 5% 0;
    margin-top: 20%;
    color: #fff;
    font-family: 'Lato';
    position: relative;
}

footer h3 {
    text-align: left;
    @include adjust-font-size-to(20px);
}

.footer-links,
.footer-social,
.footer-charity,
.footer-contact {
    @include span(12/4);
}

.copyright {
    padding-top: 5%;
    @include span(12);
    text-align: center;
}

.copyright-text {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(238, 219, 245, 0.22);
}

.footer-butterflies {
    position: absolute;
    top: -360px;
    right: 0;
}

.social-icon-wrap {
    background: #fff;
    padding: 5%;
    li {
        line-height: 3em;
        &:hover {
            background: #F3E9EA;
        }
    }
    i {
        margin: 0 30px 0 5px;
        min-width: 30px;
        font-size: 1.5em;
    }
    a {
        color: $lightPurple;
        display: block;
    }
}


/*Contact list UL styles*/

.contact-list {
    li {
        margin-bottom: 20px;
        word-break: break-all;
    }
    span {
        height: 50px;
        width: 50px;
        background: #FFF;
        text-align: center;
        display: inline-block;
        font-size: 3em;
        color: #B18CBF;
        line-height: 1em;
        vertical-align: middle;
        margin-right: 10px;
    }
}


/*Construction page styles*/

// #construction {
//     @include span(12 no-gutters);
//     height: 100vh;
//     overflow: hidden;
//     background: url("../../img/flowers-min.jpg") no-repeat center center fixed;
//     background-size: cover;
//     @keyframes fadeIn {
//         from {
//             opacity: 0;
//         }
//     }
//     animation: fadeIn 3s;
//     &:before {
//         content: '';
//         position: absolute;
//         top: 0;
//         right: 0;
//         left: 0;
//         bottom: 0;
//         opacity: 0.9;
//         @include background-image(linear-gradient(#fff,
//         #F2E4F9));
//     }
// }
// .construction-container {
//     @include span(12);
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
//     opacity: 0;
//     animation: fadein 3s;
//     animation-fill-mode: forwards;
//     @keyframes fadein {
//         from {
//             opacity: 0;
//         }
//         to {
//             opacity: 1;
//         }
//     }
// }
// .construction-header {
//     font-size: 6em;
//     text-align: center;
// }
// .fa-wrench {
//     font-size: 6em;
// }
// .west-lancs {
//     color: #A086AF;
// }
// .fibromyalgia {
//     font-style: italic;
//     color: rgba(214, 197, 223, 1);
// }
// .support-group {
//     text-transform: lowercase;
//     color: #A086AF;
//     position: relative;
//     font-weight: 100;
//     display: block;
//     font-family: 'Lato', sans-serif;
// }
// .construction-subtext {
//     color: #A086AF;
//     font-size: 6em;
//     position: relative;
//     display: block;
//     letter-spacing: -2px;
//     text-transform: lowercase;
//     font-family: 'Lato', sans-serif;
//     text-align: center;
//     @keyframes fadeIn {
//         from {
//             opacity: 0;
//         }
//     }
//     animation: fadeIn 3s infinite alternate;
// }
