$susy: (
    columns: 12, 
    gutters: 1/2,
    math: fluid,
    output: float,
    gutter-position: inside,
    clearfix: true,
    // debug: (image:show)
    );

/*Responsive breakpoints*/
$BREAKPOINTS: (
    'mobile': 300px,
    'tablet': 633px,
    'laptop': 1200px,
    'desktop': 1400px,

    );

