/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Responsive breakpoints*/
/*Establish vertical rhythm settings*/
/* line 15, ../sass/screen.scss */
.material-icons {
  font-size: 14em;
}

/* line 106, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.8125em;
}

/*Colours*/
/* line 21, ../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*mixins*/
/* line 44, ../sass/screen.scss */
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 51, ../sass/screen.scss */
body {
  background-color: #FFF;
  color: #8f3c58;
  font-size: 1em;
  /*Base 10 font size setting*/
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 61, ../sass/screen.scss */
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}

/* line 69, ../sass/screen.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.38095em;
}

/* line 73, ../sass/screen.scss */
h2 {
  margin: 20px 0;
  text-align: center;
  position: relative;
  font-size: 2.25em;
  line-height: 1.61111em;
}

/* line 80, ../sass/screen.scss */
h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.375em;
  line-height: 1.31818em;
}

/* line 86, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 91, ../sass/screen.scss */
p {
  font-size: 1.125em;
  line-height: 1.61111em;
  margin-top: 1.45em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.45em;
  font-weight: 200;
}

/* line 98, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 103, ../sass/screen.scss */
a:hover {
  color: #571e2d;
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}

/* line 108, ../sass/screen.scss */
button:focus {
  outline: 0;
}

/* line 112, ../sass/screen.scss */
.row {
  width: 100%;
  float: left;
}

/* line 116, ../sass/screen.scss */
header {
  width: 100%;
  float: left;
}

/* line 121, ../sass/screen.scss */
.logo {
  width: 33.33333%;
  float: left;
}

/* line 125, ../sass/screen.scss */
.logo-text {
  text-indent: -9999px;
  background: url("../../img/butterfly_clip.svg");
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  vertical-align: text-top;
  visibility: hidden;
}

/* line 140, ../sass/screen.scss */
.butterfly-large {
  max-width: 600px;
}

/* line 144, ../sass/screen.scss */
.main-nav {
  width: 100%;
  float: left;
  padding: 10px;
  position: fixed;
  background: #fff;
  z-index: 500;
}
@media (min-width: 300px) {
  /* line 150, ../sass/screen.scss */
  .main-nav ul {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 150, ../sass/screen.scss */
  .main-nav ul {
    display: block;
  }
  /* line 156, ../sass/screen.scss */
  .main-nav ul li {
    margin: 0 1%;
    display: inline-block;
  }
  /* line 159, ../sass/screen.scss */
  .main-nav ul li a {
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #333333;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Lato';
    padding: 10px;
    display: block;
  }
  /* line 168, ../sass/screen.scss */
  .main-nav ul li a:hover {
    color: #B362BF;
  }
  /* line 173, ../sass/screen.scss */
  .main-nav ul .donate-button {
    background-color: #b18cbf;
    color: #FFF;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
  }
  /* line 179, ../sass/screen.scss */
  .main-nav ul .donate-button:hover {
    background-color: #8b3e97;
    color: #fff;
    -moz-transition: background-color, 0.3s, ease-in;
    -o-transition: background-color, 0.3s, ease-in;
    -webkit-transition: background-color, 0.3s, ease-in;
    transition: background-color, 0.3s, ease-in;
  }
}

@media (min-width: 300px) {
  /* line 191, ../sass/screen.scss */
  .main-menu {
    width: 100%;
    float: left;
  }
}
@media (min-width: 1200px) {
  /* line 191, ../sass/screen.scss */
  .main-menu {
    width: 66.66667%;
    float: left;
    text-align: right;
  }
}

/* line 201, ../sass/screen.scss */
.side-menu {
  position: fixed;
  top: 40%;
  right: 15px;
  width: 50px;
}
/* line 206, ../sass/screen.scss */
.side-menu li {
  padding: 10px 0 10px 15px;
}
/* line 209, ../sass/screen.scss */
.side-menu a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #571e2d;
  display: block;
  padding: 0;
}
/* line 217, ../sass/screen.scss */
.side-menu a:hover > span {
  visibility: visible;
  position: absolute;
  right: 10px;
  margin-top: -7px;
  white-space: nowrap;
  padding-right: 15px;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
/* line 229, ../sass/screen.scss */
.side-menu span {
  position: absolute;
  visibility: hidden;
  color: #000;
  opacity: 0;
  right: 10px;
}

@media (min-width: 300px) {
  /* line 238, ../sass/screen.scss */
  .menu-button {
    z-index: 9999;
    display: block;
    position: relative;
    top: 10px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease;
    float: right;
    top: 0;
  }
  /* line 259, ../sass/screen.scss */
  .menu-button:focus {
    outline: none;
  }
  /* line 262, ../sass/screen.scss */
  .menu-button span {
    display: block;
    position: absolute;
    top: 25px;
    left: 9px;
    right: 9px;
    height: 1px;
    background: #b18cbf;
  }
  /* line 270, ../sass/screen.scss */
  .menu-button span:before, .menu-button span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: #b18cbf;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  /* line 282, ../sass/screen.scss */
  .menu-button span:before {
    top: -10px;
    transition-property: bottom, transform;
  }
  /* line 286, ../sass/screen.scss */
  .menu-button span:after {
    bottom: -10px;
  }
}
@media (min-width: 1200px) {
  /* line 238, ../sass/screen.scss */
  .menu-button {
    display: none;
  }
}

/*Fixed class added to header/nav*/
/* line 297, ../sass/screen.scss */
.fixed {
  position: fixed;
  background: #fff;
  z-index: 500;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}

/*INitial mobile menu hidden*/
/* line 308, ../sass/screen.scss */
.menu-expanded {
  display: none;
  background: #d77ca8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 5;
  font-weight: 200;
  -webkit-animation: fadeIntoYou 0.3s ease-in;
  -moz-animation: fadeIntoYou 0.3s ease-in;
  -o-animation: fadeIntoYou 0.3s ease-in;
  animation: fadeIntoYou 0.3s ease-in;
  text-align: center;
}

@-webkit-keyframes fadeIntoYou {
  0% {
    background-color: #b18cbf;
    color: #fff;
    opacity: 0;
  }
  100% {
    background-color: #d77ca8;
    color: #fff;
    opacity: 1;
  }
}
/*Expanded menu items*/
/* line 342, ../sass/screen.scss */
#about-link,
#cfs-link,
#me-link,
#blog-link,
#contact-link,
#donate-link {
  height: calc(100vh/6);
  line-height: calc(100vh/6);
  font-size: 3em;
  color: #fff;
  display: block;
  position: relative;
  -webkit-animation: fadeIntoYou 0.3s ease-in;
  -moz-animation: fadeIntoYou 0.3s ease-in;
  -o-animation: fadeIntoYou 0.3s ease-in;
  animation: fadeIntoYou 0.3s ease-in;
  text-decoration: none;
}

/*Active class added to hamburger menu to convert it to 'X'*/
/* line 364, ../sass/screen.scss */
.active {
  display: block;
}
/* line 366, ../sass/screen.scss */
.active span {
  background: none;
}
/* line 368, ../sass/screen.scss */
.active span:before {
  top: 0;
  background-color: #fff;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}
/* line 374, ../sass/screen.scss */
.active span:after {
  bottom: 0;
  background-color: #fff;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.3s;
}

@media (min-width: 300px) {
  /* line 383, ../sass/screen.scss */
  .container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 383, ../sass/screen.scss */
  .container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1400px) {
  /* line 383, ../sass/screen.scss */
  .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 395, ../sass/screen.scss */
.hero {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

/* line 401, ../sass/screen.scss */
.hero-text-wrap {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  margin-top: 15vh;
}

/* line 408, ../sass/screen.scss */
.hero-subheading {
  font-size: 1em;
  font-weight: 200;
  color: #571e2d;
  margin-top: 1.45em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.45em;
}

/*Hero image styles*/
@media (min-width: 300px) {
  /* line 422, ../sass/screen.scss */
  .butterfly-large {
    max-width: 200px;
  }
}
@media (min-width: 633px) {
  /* line 422, ../sass/screen.scss */
  .butterfly-large {
    max-width: 300px;
  }
}
@media (min-width: 1400px) {
  /* line 422, ../sass/screen.scss */
  .butterfly-large {
    padding: 10% 0;
    max-width: 100%;
  }
}

/*Hero text*/
/* line 438, ../sass/screen.scss */
.west-lancs {
  color: #8f3c58;
}

/* line 442, ../sass/screen.scss */
.fibromyalgia {
  font-style: italic;
  color: #571e2d;
}

/* line 447, ../sass/screen.scss */
.support-group {
  text-transform: lowercase;
  color: #A086AF;
  position: relative;
  font-weight: 100;
  display: block;
  font-family: 'Lato', sans-serif;
}

/*Hero chevron to about section*/
/* line 459, ../sass/screen.scss */
.about-chevron-wrap {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  position: absolute;
  bottom: 5vh;
  text-align: center;
}
/* line 464, ../sass/screen.scss */
.about-chevron-wrap a {
  color: #b18cbf;
  font-size: 3em;
  border: 1px solid;
  /* border-radius: 50%; */
  width: 50px;
  height: 50px;
  display: inline-block;
}
/* line 472, ../sass/screen.scss */
.about-chevron-wrap a:hover {
  background: #b18cbf;
  color: #fff;
}

/* line 479, ../sass/screen.scss */
.about {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 5% 0;
}

/* line 486, ../sass/screen.scss */
.about-inner {
  width: 30.55556%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  padding: 1.38889%;
  background: lavenderblush;
}

/* line 492, ../sass/screen.scss */
.about-icon-wrap {
  text-align: center;
}
/* line 494, ../sass/screen.scss */
.about-icon-wrap i {
  font-size: 12em;
}

/*News section styles*/
/* line 500, ../sass/screen.scss */
.news {
  width: 100%;
  float: left;
  padding: 5% 0;
  border-top: 2px solid rgba(149, 11, 202, 0.55);
}

/*Individual post styles*/
/* line 512, ../sass/screen.scss */
.post {
  width: 33.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 524, ../sass/screen.scss */
.post-title {
  text-align: left;
  margin-bottom: 0;
}
/* line 527, ../sass/screen.scss */
.post-title:after {
  content: '';
  display: block;
  width: 46px;
  height: 1px;
  margin: 10px 0 5px 0;
  background: #8f3c58;
}

/* line 533, ../sass/screen.scss */
.post-date, .post-category, .post-author {
  display: inline-block;
  font-size: 0.875em;
  line-height: 2.07143em;
  margin: 0;
}

/* line 541, ../sass/screen.scss */
.post-category {
  display: block;
}

/* line 553, ../sass/screen.scss */
.read-post-btn {
  color: #8f3c58;
  padding: 10px 13px;
  background: #fff;
  display: block;
  max-width: 130px;
  text-align: center;
  border: 2px solid #8f3c58;
  text-transform: uppercase;
}
/* line 563, ../sass/screen.scss */
.read-post-btn:hover {
  background: #571e2d;
  color: #fff;
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}

/* line 572, ../sass/screen.scss */
.testimonial {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 5% 0;
  text-align: center;
  background: rgba(149, 11, 202, 0.55);
  position: relative;
  color: #fff;
}
/* line 581, ../sass/screen.scss */
.testimonial:after {
  background-image: url("../../img/flowers-min.jpg");
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  background-size: cover;
  background-position: 50% 20%;
}

/* line 597, ../sass/screen.scss */
.quoted-text {
  font-size: 2em;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
}

/* line 604, ../sass/screen.scss */
.testimonial-left, .testimonial-right {
  position: absolute;
  top: 40%;
  display: inline-block;
  /* height: 100%; */
  /* float: left; */
  background: transparent;
  border: none;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  z-index: 100;
}
/* line 617, ../sass/screen.scss */
.testimonial-left:hover, .testimonial-right:hover {
  color: #fff;
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}

/* line 622, ../sass/screen.scss */
.testimonial-left {
  left: 0;
  padding-left: 2%;
}

/* line 626, ../sass/screen.scss */
.testimonial-right {
  right: 0;
  padding-right: 2%;
}

/*Testimonia movement class*/
/* line 633, ../sass/screen.scss */
.move-left {
  transform: translateX(100%);
}

/*testimonial fade in effect*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 646, ../sass/screen.scss */
.fade-in {
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

/* line 649, ../sass/screen.scss */
.fade-out {
  -moz-animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s;
}

/* line 653, ../sass/screen.scss */
.testimonial-content {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}

/*Acts as the testimonial slider 'mask'*/
/* line 662, ../sass/screen.scss */
.testimonial-outer-wrap {
  position: relative;
  overflow: hidden;
  height: 200px;
}

/* line 669, ../sass/screen.scss */
.testimonial-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*Events section styles*/
/* line 677, ../sass/screen.scss */
.events {
  width: 100%;
  float: left;
  padding: 5% 0;
  background-color: #fee;
}

/* line 683, ../sass/screen.scss */
.event {
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 688, ../sass/screen.scss */
.latest-news {
  width: 66.66667%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background-color: #aff;
}

/* line 693, ../sass/screen.scss */
.event-header {
  text-align: left;
  margin-bottom: 0;
}

/* line 697, ../sass/screen.scss */
.event-meta {
  margin-top: 1.38889%;
}

/* line 700, ../sass/screen.scss */
.event-date-time {
  margin: 0 15px 0 10px;
}

/* line 703, ../sass/screen.scss */
.event-location {
  margin: 0 0 0 10px;
}

/* line 707, ../sass/screen.scss */
.ion-location {
  margin-left: 20px;
}

/* line 710, ../sass/screen.scss */
.contact {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background: #fff;
}
@media (min-width: 300px) {
  /* line 710, ../sass/screen.scss */
  .contact {
    padding-bottom: 10%;
  }
}
@media (min-width: 1200px) {
  /* line 710, ../sass/screen.scss */
  .contact {
    padding: 5%;
  }
}
/* line 719, ../sass/screen.scss */
.contact h2 {
  color: #b18cbf;
}
@media (min-width: 1200px) {
  /* line 719, ../sass/screen.scss */
  .contact h2 {
    text-align: left;
  }
}

/* line 730, ../sass/screen.scss */
.contact-panel {
  width: 30.55556%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

@media (min-width: 300px) {
  /* line 733, ../sass/screen.scss */
  #contact-form {
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
/* line 740, ../sass/screen.scss */
#contact-form label {
  width: 100%;
  float: left;
  margin: 1em 0;
  font-size: 150%;
  font-weight: 300;
  color: #737272;
}

@media (min-width: 300px) {
  /* line 749, ../sass/screen.scss */
  .input-row-half {
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
@media (min-width: 1200px) {
  /* line 749, ../sass/screen.scss */
  .input-row-half {
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
  /* line 755, ../sass/screen.scss */
  .input-row-half:nth-child(2) {
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}

/* line 761, ../sass/screen.scss */
.textarea-row-full {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 765, ../sass/screen.scss */
textarea {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  resize: none;
  padding: 20px 10px;
  margin-bottom: 2em;
  font-size: 1.125em;
  font-family: inherit;
  color: #8f3c58;
  border: 1px solid #8f3c58;
}
/* line 774, ../sass/screen.scss */
textarea:focus {
  outline: 1px solid #8f3c58;
}

/* line 779, ../sass/screen.scss */
.submit-button-wrap {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 783, ../sass/screen.scss */
input[type="text"] {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  height: 48px;
  padding: 0 15px;
  font-family: inherit;
  color: #8f3c58;
  font-size: 1.125em;
  border: 1px solid #8f3c58;
  margin-bottom: 5.55556%;
}
/* line 792, ../sass/screen.scss */
input[type="text"]:focus {
  outline: 1px solid #8f3c58;
}

/* line 797, ../sass/screen.scss */
input[type="email"] {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  height: 48px;
  padding: 0 15px;
  font-family: inherit;
  color: #8f3c58;
  border: 1px solid #8f3c58;
  font-size: 1.125em;
  margin-bottom: 5.55556%;
}
/* line 806, ../sass/screen.scss */
input[type="email"]:focus {
  outline: 1px solid #8f3c58;
}

@media (min-width: 300px) {
  /* line 811, ../sass/screen.scss */
  input[type="submit"] {
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
    background-color: #8f3c58;
    color: #fff;
    height: 48px;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 811, ../sass/screen.scss */
  input[type="submit"] {
    width: 50%;
    float: left;
    margin-left: 25%;
    background-color: #b18cbf;
    color: #fff;
    border: 1px solid #8f3c58;
  }
  /* line 827, ../sass/screen.scss */
  input[type="submit"]:hover {
    background-color: #8f3c58;
    color: #fff;
    transition: all 0.3s ease-in;
  }
}

/*Location section*/
/* line 836, ../sass/screen.scss */
#map {
  width: 100%;
  float: left;
  height: 400px;
  background: #b18cbf;
}

/*Member section*/
/* line 844, ../sass/screen.scss */
.members {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 5% 0;
}

/* line 850, ../sass/screen.scss */
.single-member {
  width: 47.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  border: 1px solid #dddddd;
  margin-bottom: 2.77778%;
  min-height: 275px;
}
/* line 856, ../sass/screen.scss */
.single-member:hover > .member-info {
  background: #8f3c58;
  color: #fff;
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}
/* line 861, ../sass/screen.scss */
.single-member:hover > .member-info a {
  color: #fff;
}

/* line 868, ../sass/screen.scss */
.member-img {
  width: 50%;
  float: left;
}
/* line 871, ../sass/screen.scss */
.member-img img {
  /*Remove image space beneath, when in figure*/
  display: block;
}

/* line 877, ../sass/screen.scss */
.member-info {
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 5.55556%;
  min-height: 275px;
}

/* line 883, ../sass/screen.scss */
.member-name {
  margin: 0;
  text-align: left;
}
/* line 887, ../sass/screen.scss */
.member-name:after {
  content: '';
  display: block;
  width: 46px;
  height: 1px;
  margin: 10px 0 5px 0;
  background: #8f3c58;
}

/* line 897, ../sass/screen.scss */
.member-role {
  font-size: 13px;
  text-transform: uppercase;
}

/* line 902, ../sass/screen.scss */
.member-blurb {
  font-size: 13px;
}

/* line 907, ../sass/screen.scss */
.member-social-icons li {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
/* line 912, ../sass/screen.scss */
.member-social-icons a {
  color: rgba(143, 60, 88, 0.4);
  font-size: 1.6em;
}

/* line 918, ../sass/screen.scss */
footer {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background: #b18cbf;
  padding: 5% 0;
  margin-top: 20%;
  color: #fff;
  font-family: 'Lato';
  position: relative;
}

/* line 928, ../sass/screen.scss */
footer h3 {
  text-align: left;
  font-size: 1.25em;
  line-height: 1.45em;
}

/* line 933, ../sass/screen.scss */
.footer-links,
.footer-social,
.footer-charity,
.footer-contact {
  width: 25%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 940, ../sass/screen.scss */
.copyright {
  padding-top: 5%;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  text-align: center;
}

/* line 946, ../sass/screen.scss */
.copyright-text {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(238, 219, 245, 0.22);
}

/* line 952, ../sass/screen.scss */
.footer-butterflies {
  position: absolute;
  top: -360px;
  right: 0;
}

/* line 958, ../sass/screen.scss */
.social-icon-wrap {
  background: #fff;
  padding: 5%;
}
/* line 961, ../sass/screen.scss */
.social-icon-wrap li {
  line-height: 3em;
}
/* line 963, ../sass/screen.scss */
.social-icon-wrap li:hover {
  background: #F3E9EA;
}
/* line 967, ../sass/screen.scss */
.social-icon-wrap i {
  margin: 0 30px 0 5px;
  min-width: 30px;
  font-size: 1.5em;
}
/* line 972, ../sass/screen.scss */
.social-icon-wrap a {
  color: #b18cbf;
  display: block;
}

/*Contact list UL styles*/
/* line 982, ../sass/screen.scss */
.contact-list li {
  margin-bottom: 20px;
  word-break: break-all;
}
/* line 986, ../sass/screen.scss */
.contact-list span {
  height: 50px;
  width: 50px;
  background: #FFF;
  text-align: center;
  display: inline-block;
  font-size: 3em;
  color: #B18CBF;
  line-height: 1em;
  vertical-align: middle;
  margin-right: 10px;
}

/*Construction page styles*/
